<div class="jumbotron">
    <h1>Utilizando o GitHub for Windows 2.0</h1>
    <br />
    <p><a href="https://windows.github.com/" class="btn btn-primary btn-lg">Saiba mais &raquo;</a></p>
</div>

<div class="row">
    <div style="padding-left: 30px; height: 200px;">
        <h4>
            Esta é uma aplicação de exemplo que será utilizada
            para demonstrar o funcionamento da ferramenta GitHub
            for Windows 2.0.
        </h4>
        <p>
            Exemplo de alteração efetuada em 09/09/2014.
        </p>
    </div>
</div>